USE [TvProjectDb]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 14.12.2021 16:17:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](70) NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Photos]    Script Date: 14.12.2021 16:17:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TvId] [int] NULL,
	[ImageUrl] [varchar](250) NOT NULL,
	[IsMain] [bit] NULL,
 CONSTRAINT [PK_Photos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 14.12.2021 16:17:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TvBrands]    Script Date: 14.12.2021 16:17:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TvBrands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](15) NULL,
	[Address] [varchar](250) NULL,
 CONSTRAINT [PK_TvBrands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tvs]    Script Date: 14.12.2021 16:17:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tvs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[ProductCode] [nvarchar](50) NULL,
	[ScreenType] [varchar](50) NOT NULL,
	[ScreenInch] [varchar](10) NOT NULL,
	[Extras] [nvarchar](50) NULL,
	[BrandId] [int] NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[Discount] [tinyint] NULL,
	[IsDiscount] [bit] NULL,
	[Stock] [tinyint] NULL,
 CONSTRAINT [PK_Tvs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAddresses]    Script Date: 14.12.2021 16:17:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAddresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[AddressText] [nvarchar](250) NOT NULL,
	[CityId] [tinyint] NOT NULL,
 CONSTRAINT [PK_UserAddress] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCreditCards]    Script Date: 14.12.2021 16:17:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCreditCards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[CreditCardNumber] [varchar](16) NULL,
	[CVV] [varchar](4) NULL,
	[Date] [varchar](5) NULL,
 CONSTRAINT [PK_UserCreditCards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 14.12.2021 16:17:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14.12.2021 16:17:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[PasswordHash] [varbinary](500) NULL,
	[PasswordSalt] [varbinary](500) NULL,
	[Status] [bit] NULL,
	[Key] [nvarchar](250) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [CityName]) VALUES (1, N'Adana')
INSERT [dbo].[Cities] ([Id], [CityName]) VALUES (2, N'Adiyaman')
INSERT [dbo].[Cities] ([Id], [CityName]) VALUES (3, N'Afyon')
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[Photos] ON 

INSERT [dbo].[Photos] ([id], [TvId], [ImageUrl], [IsMain]) VALUES (1, 1, N'/images/m_xiaomi-mi-tv-q1-75-1.jpg', 1)
INSERT [dbo].[Photos] ([id], [TvId], [ImageUrl], [IsMain]) VALUES (2, 3, N'/images/m_xiaomi-mi-led-tv-4s-65-5asp-4.jpg', 1)
INSERT [dbo].[Photos] ([id], [TvId], [ImageUrl], [IsMain]) VALUES (3, 6, N'/images/m_xiaomi-mi-led-tv-4s-55-2.jpg', 1)
SET IDENTITY_INSERT [dbo].[Photos] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'Editor')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (3, N'User')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[TvBrands] ON 

INSERT [dbo].[TvBrands] ([Id], [Name], [PhoneNumber], [Address]) VALUES (1, N'Samsung', NULL, NULL)
INSERT [dbo].[TvBrands] ([Id], [Name], [PhoneNumber], [Address]) VALUES (2, N'Lg', NULL, NULL)
INSERT [dbo].[TvBrands] ([Id], [Name], [PhoneNumber], [Address]) VALUES (3, N'Philips', NULL, NULL)
SET IDENTITY_INSERT [dbo].[TvBrands] OFF
GO
SET IDENTITY_INSERT [dbo].[Tvs] ON 

INSERT [dbo].[Tvs] ([Id], [ProductName], [ProductCode], [ScreenType], [ScreenInch], [Extras], [BrandId], [UnitPrice], [Discount], [IsDiscount], [Stock]) VALUES (1, N'Xiaomi Mi TV Q1', NULL, N'QLed', N'75"', N'30W Ses Çıkış Gücü 4K', 8, 5999.0000, 8, 1, 4)
INSERT [dbo].[Tvs] ([Id], [ProductName], [ProductCode], [ScreenType], [ScreenInch], [Extras], [BrandId], [UnitPrice], [Discount], [IsDiscount], [Stock]) VALUES (3, N'Xiaomi Mi LED TV 4S', N'L65M5-5ASP', N'Led', N'65"', N'20W Ses Çıkış Gücü 4K', 8, 4899.0000, 2, 1, 6)
INSERT [dbo].[Tvs] ([Id], [ProductName], [ProductCode], [ScreenType], [ScreenInch], [Extras], [BrandId], [UnitPrice], [Discount], [IsDiscount], [Stock]) VALUES (6, N'Xiaomi Mi LED TV 4S', N'L55M5-5ASP', N'Led', N'55"', N'20W ses Çıkış Gücü 4K', 8, 4599.0000, 2, 1, 3)
SET IDENTITY_INSERT [dbo].[Tvs] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAddresses] ON 

INSERT [dbo].[UserAddresses] ([Id], [UserId], [AddressText], [CityId]) VALUES (1, 2, N'Çankaya', 6)
INSERT [dbo].[UserAddresses] ([Id], [UserId], [AddressText], [CityId]) VALUES (2, 2, N'Etimesgut', 6)
SET IDENTITY_INSERT [dbo].[UserAddresses] OFF
GO
SET IDENTITY_INSERT [dbo].[UserCreditCards] ON 

INSERT [dbo].[UserCreditCards] ([Id], [UserId], [CreditCardNumber], [CVV], [Date]) VALUES (1, 2, N'8888888888888888', N'403', N'01/01')
INSERT [dbo].[UserCreditCards] ([Id], [UserId], [CreditCardNumber], [CVV], [Date]) VALUES (2, 2, N'8888888888888888', N'404', N'01/01')
SET IDENTITY_INSERT [dbo].[UserCreditCards] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([Id], [RoleId], [UserId]) VALUES (2, 1, 2)
INSERT [dbo].[UserRoles] ([Id], [RoleId], [UserId]) VALUES (5, 3, 1005)
INSERT [dbo].[UserRoles] ([Id], [RoleId], [UserId]) VALUES (1005, 3, 2)
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [PasswordHash], [PasswordSalt], [Status], [Key]) VALUES (2, N'Emir', N'Gürbüz', N'emir.gurbuz06@hotmail.com', 0x8254B6E7691F7F36C0D1B98E313AFAE329E95A0C153E21716CDBD662CFAD89DD6FDBF7EB8F4615FFF3CFD18A021F91C235497CF8B84EB564B68BA8AFAD198260, 0x6B0A9C37A8E9917EA360B183793B21D010800151A68C09E6A2E5AE5E1D2EF0638F34604BF6B323A8CB970896CBA18E9992BF9EF0A8769205AFB526728539EC289A1325801584472AF18F45604DF82DFF8C16F94C3B00E078ED8C6A9AE921AACE2C10FB4A17290A73225F88C9EC8AE1351DA6ABD7282DF897149ABD987E4D9A0B, 1, N'')
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [PasswordHash], [PasswordSalt], [Status], [Key]) VALUES (1005, N'DenemeAd', N'DenemeSoyad', N'deneme@hotmail.com', 0x3B0B45175F057196FCD5F59D3D8F621EE663AAF342DE7928F7E6D16D0BEFBBC98B1E54C313F5CC92734720E8C6A85A755C301D76B9C27077EE0AB162578E38ED, 0x2EF320DBE0124421DB82A5751175B00AE0988A30C055002F178AE5B4030F6A5924AD4D32EFBBA494FAFE46B05CCB7F2E9E74DF8E55D40CF0325786FDC54BB255011B964BA2BB716AC05B5998D7EB12E4B8FD2FF4D0ED938D8CDFAE890544371D535DB55CB2398C7F3CBCE301EEDDA81E3537757A0D3050F2DCE13FDCD1B66265, 1, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Photos] ADD  CONSTRAINT [DF_Photos_IsMain]  DEFAULT ((0)) FOR [IsMain]
GO
ALTER TABLE [dbo].[Tvs] ADD  CONSTRAINT [DF_Tvs_IsDiscount]  DEFAULT ((0)) FOR [IsDiscount]
GO
ALTER TABLE [dbo].[Tvs]  WITH CHECK ADD  CONSTRAINT [FK_Tvs_TvBrands1] FOREIGN KEY([BrandId])
REFERENCES [dbo].[TvBrands] ([Id])
GO
ALTER TABLE [dbo].[Tvs] CHECK CONSTRAINT [FK_Tvs_TvBrands1]
GO
ALTER TABLE [dbo].[UserAddresses]  WITH CHECK ADD  CONSTRAINT [FK_UserAddress_Cities] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[UserAddresses] CHECK CONSTRAINT [FK_UserAddress_Cities]
GO
ALTER TABLE [dbo].[UserAddresses]  WITH CHECK ADD  CONSTRAINT [FK_UserAddress_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserAddresses] CHECK CONSTRAINT [FK_UserAddress_Users]
GO
ALTER TABLE [dbo].[UserCreditCards]  WITH CHECK ADD  CONSTRAINT [FK_UserCreditCards_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserCreditCards] CHECK CONSTRAINT [FK_UserCreditCards_Users]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users]
GO
